.collapsible {
  width: 100%;
}

.divider {
  display: flex;
}

.divider > hr {
  flex: 1;
}

.toggle {
  margin-left: 10px;
  cursor: pointer;
  
  display: flex;
  justify-content: center;
  align-items: flex-end;
}