.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 5rem;
  min-height: 100vh;
}

.background {
  background-repeat: repeat-y;
  background-size: 100%;
}

.content {
  background-color: rgba(var(--callout-rgb), 0.8);
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  padding: 10px 20px;
}

.content > *:not(:first-child) {
  margin-top: 5px;
}

.date {
  font-style: italic;
  user-select: none;
}

@media (max-width: 800px)  {
  .main {
    padding: 10px;
  }
}

@media (prefers-color-scheme: dark) {
  .date {
    color: #dddddd;
  }
}
