.container {
  display: relative;
  overflow: auto;
  width: 100%;
}

.table {
  width: 100%;
  background-color: white;
}

.header {
  text-align: center;
  color: #495057;
  background-color: #e9ecef !important; 
}

.avatar {
  border-radius: 50%;
  overflow: hidden;
}

.rowhead {
  text-align: left;
}

.content {
  text-align: center;
}

.nested {
  background-color: #e9ecefcc !important;
  font-size: 0.85em;
}

.rowhead.nested {
  padding-left: 30px !important;
}



/* Tooltip container */
.tooltip {
  position: relative;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltiptext {
  visibility: hidden;
  background-color: aqua;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  user-select: none;
  pointer-events: none;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  bottom: 95%;
  right: 10%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}